*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    font-family: 'Courier New', Courier, monospace;

    color:rgb(5, 5, 5);
    background-color: rgb(200, 236, 253);
}


.header nav{
    display: flex;
    background-color: rgb(120, 247, 204);
}

.header img{
    width: 40px;
}

.header ul {
    display: flex;
    list-style: none;
    font-weight: bold;

}